<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><span class="glyphicon glyphicon-home"></span></a>
    <a class="navbar-brand" (click)="state.advanced = !state.advanced"><span class="glyphicon glyphicon-cog"></span></a>
    <ul class="nav navbar-nav navbar-right" *ngIf="auth.isLoggedIn()">
      <li class="nav-item dropdown" dropdown>
          <a id="user-button" class="btn btn-link dropdownToggle" dropdownToggle>
            Wiadomości <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user-button">
            <li role="menuitem"><a class="dropdown-item" routerLink="/message">Wyślij</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/sent">Wysłane</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/received">Odebrane</a></li>
          </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/visualisation" routerLinkActive="active">Wizualizacja</a>
      </li>
      <li class="nav-item dropdown" dropdown>
          <a id="user-button" class="btn btn-link dropdownToggle" dropdownToggle>
            {{auth.getCurrentUser()}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user-button">
            <li role="menuitem"><a class="dropdown-item" href="" (click)="logout()">Wyloguj się</a></li>
          </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-right" *ngIf="state.advanced" action="">
      <div class="form-group">
        <label for="speed_factor">Szybkość wiadomości</label>
        <input class="form-control" style="width: 90px" type="number" step="0.1" name="speed_factor" [(ngModel)]="state.speedFactor" id="speed_factor">
      </div>
      <div class="form-group">
        <label for="backend_url">Adres serwera</label>
        <input class="form-control" type="text" name="backend_url" [ngModel]="state.getBackendUrl()" (ngModelChange)="state.setBackendUrl($event)" id="backend_url">
      </div>
    </form>
  </div>
</nav>
